--extra-index-url https://download.pytorch.org/whl/cu118
torch~=2.0.0
torchvision~=0.15.1
torchaudio
gym~=0.26.2

torchinfo
numpy~=1.24.3
seaborn
matplotlib~=3.7.1
tqdm~=4.65.0
sympy~=1.11.1
ipdb~=0.13.13
aiocells~=1.0.4